

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET, POST, OPTIONS, DELETE, PUT"
Header add Access-Control-Allow-Headers: "Content-Type, Accept"
Header add Content-Type: "application/json"

RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^list$ controllers/list.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^list$ controllers/list.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^list/([0-9]+)$ controllers/list.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^list/([0-9]+)$ controllers/list.php?action=delete&id=$1



RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^refrigerator$ controllers/refrigerator.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^refrigerator$ controllers/refrigerator.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^refrigerator/([0-9]+)$ controllers/refrigerator.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^refrigerator/([0-9]+)$ controllers/refrigerator.php?action=delete&id=$1
